<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cccz.order.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="com.cccz.order.entity.Order">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="order_status" property="orderStatus"/>
        <result column="pay_status" property="payStatus"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="pay_channel" property="payChannel"/>
        <result column="pay_time" property="payTime"/>
        <result column="pay_transaction_no" property="payTransactionNo"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="receiver_phone" property="receiverPhone"/>
        <result column="receiver_province" property="receiverProvince"/>
        <result column="receiver_city" property="receiverCity"/>
        <result column="receiver_district" property="receiverDistrict"/>
        <result column="receiver_detail" property="receiverDetail"/>
        <result column="delivery_company" property="deliveryCompany"/>
        <result column="delivery_no" property="deliveryNo"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="cancel_time" property="cancelTime"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_no, user_id, order_status, pay_status,
        total_amount, discount_amount, pay_amount, pay_channel,
        pay_time, pay_transaction_no,
        receiver_name, receiver_phone, receiver_province, receiver_city,
        receiver_district, receiver_detail,
        delivery_company, delivery_no, delivery_time,
        finish_time, cancel_time, cancel_reason, remark,
        version, is_deleted, create_time, update_time
    </sql>

</mapper>
